.dialogContent {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #25d366 #f0f0f0;
  scrollbar-gutter: stable;
  scrollbar-gutter: stable;
}
