.container {
  background-color: white;
}

.whatsBookButton,
.phoneBookButton,
.emailBookButton {
  width: 100%;
  margin-bottom: 3px;
  margin-top: 3px;
}

.whatsBookButton {
  background-color: #25d366;
  color: white;
}

.phoneBookButton {
  background-color: rgb(208, 208, 208);
  color: #222;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .whatsBookButton,
  .phoneBookButton,
  .emailBookButton {
    width: auto;
    margin-bottom: 10px;
  }
}
